* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: sans-serif;
}

img {
    width: 312px;
    border-radius: 50%;
    border: 4px solid #973549;
}

h1 {
    color: white;
    margin-top: 31px;
    margin-bottom: 8px;
}

p {
    font-size: 1.8rem;
    color: white;
}

ul {
    margin-top: 35px;
}

li {
    text-transform: uppercase;
    margin-bottom: 18px;
    list-style: none;
}

a {
    background-color: #973549;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

a:hover {
    border-radius: 15px;
    background-color: #DABBB5;
    color: #973549;
    transition: 0.5s;
}

footer {
    color: white;
}

.container {
    width: 320px;
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}

.container_text {
    font-size: 30px;
}

.bold {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}